@font-face {
  font-family: 'Rubik';
  src: url('Rubik-VariableFont_wght.ttf') format('truetype');
  /* font-weight: 400; */
}

@font-face {
  font-family: 'WorkSans';
  src: url('WorkSans-VariableFont_wght.ttf') format('truetype');
}
