@font-face {  
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;  
  src: url('../fonts/roboto-mono-variable.ttf');
}
@font-face {  
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;  
  src: url('../fonts/atkinson-hyperlegible-regular.ttf');
}
@font-face {  
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;  
  src: url('../fonts/work-sans-variable.ttf');
}
